@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("/bg1.jpg");
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
section.chat_section {
    width: 700px;
    height: 550px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-top: 0px;
}

.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
}
textarea {

    width: 100%;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
    position: relative;
    resize: none;
    width: 701px;
    display: block;
     margin: 0 auto;
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}
.incoming {
    background: #8F8BE8;
    color: #000000;  
}
.outgoing {
    background: #c0c1d8;
    color: #000000;
    margin-left: auto;
}
.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}
.logo{

max-width: 200px;
max-height: 200px;
margin-top: 10px;
}